# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakes
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
/out

# OS X
.DS_Store
._*

# tags
cscope.files
tags

# sftp plugin
sftp-config.json


